.heroTextContainer {
    margin: 0 var(--margin-default);
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 65px;
    margin-bottom: 20px;
}

.highlight {
    color: var(--orange-primary)
}

.description {
    font-weight: 400;
    line-height: 22px;
}

@media (max-width: 831px) {
    .heroTextContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 87px;
        margin-bottom: 117px;
    }

    .title {
        font-size: 60px;

    }

    .lineBreak {
        display: none;
    }
}  

@media (max-width: 431px) {
    .heroTextContainer {
        margin: 0;
        margin-top: 20px;
    }

    .title {
        font-size: 48px;
    }

    .description {
        margin: 0 14px;
    }
}  